*{
    margin: 0;
    padding: 0;
    user-select:none;
    overflow: hidden;
}

body{
    display:flex;
    background-color: grey;
    flex-direction: column;
    width:100vw;
    height:100vh;
}

canvas{
    background-color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ath{
    background-color:black;
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top:5px solid white;
    box-sizing: border-box;
}

.fullscreenbtn{
    background-color:purple;
    width:20%;
    height:80%;
}