*{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color: black;
}
#gameArea {
    background-color:orange;
    display:flex;
    flex-direction: column;
  }

#gameCanvas {
    width: 100%;
    height: 80%;
    background-color: black;
    border:1px white solid;
    box-sizing:border-box;
}

#HUD {
    width: 100%;
    height: 20%;
    background-color: black;
    border:1px white solid;
    box-sizing:border-box;
}